@use "./reset" as doesthiswork;
@use "./logo" as *;
@use "./burger-menu" as *;
@use "./navigation" as *;
@use "./form" as *;
@use "./cards"as *;
@use "./bullets" as *;
@use "./icons" as *;
@use "./tours" as *;
@use "./hero" as *;

* {
    @include doesthiswork.reset;
    box-sizing: border-box;
    // color: black;
}

.mainContainer {
    width: 100%;
    @include mainLogo;
    @include burger-menu-mobile;
    @include navigation-mobile;
    header {
        @include hero-mobile-fixed;
        @include tours-mobile;
        @include subscribe-form-mobile;
        @include cards-mobile;
        @include background-bullets;
    }
    footer {
        position: fixed;
        bottom: 5rem;
        width: 100%;
        @include icons-mobile;
    }
}